@import "../abstracts/variables";
@import "../base/typography";
@import "../abstracts/mixins";

.header{
    z-index: 100;
    padding: 25px 0px;
    width: 100%;
    background-color: map-get($white-color, white );
    position: fixed;
    box-shadow: 0 2px 20px 10px rgb(0, 0, 0,0.1);
    .header-contant{
        @include flex(row,space-between);
        .nav{
            display: none;
              @media screen and (min-width: $breakpoint-lg-plus) and (max-width: $breakpoint-xxl) {
                display: block;
              }
            .nav-list{
                @include flex(row);
                gap: 50px;
            }
        }
        .dark-mode{
            font-size: $font-size-header-icon;
        }
    }
}